html{background:lightblue;}
img:hover{transition:transform, border-radius 2s, 4s linear, ease, 0s, 1s;
transform:scale(1.035) translate(14px, 80px);
border-radius:100%;}
img{border:thick inset darkgrey;}
  #left{background-color:#FF0;
        width:100%;
        float:left;
        text-align:center; 
        margin-top:0px;
        height:60px;}
#center{text-align:center;
        margin:0px; 
        font-size:50px;
        font-family:"Courier New";
        font-variant:small-caps;}
    li{list-style:lower-alpha inside none;}
.menu li{float:left;}
.menu li a:link{padding:30px;
                color:black;
                padding-bottom:0px;
                text-decoration:none;
                border-bottom:medium dotted red;}
#rightdown{background-color:darkblue;
          width:50%;
          color:white;
          float:right; 
          text-align: justify; 
          border: thick solid darkgrey; 
          margin-top:10px; 
          margin-right: 20px;
          height:570px;
          overflow:scroll;}
#leftdown{background-color:lightgrey;
           width:40%; 
           float:left;
           margin-top:10px;
           text-align: justify; 
           border: 1px solid black;
           height:580px;}
       img{margin-top:10px;}
footer{text-align:center;
       font-weight:bold;
       font-size:x-large;
       clear:both;
       margin-top:10px;
       border:medium dotted black;
       background:yellow;
       background-clip:border-box;}
